@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scroll-behavior: smooth;
  background-color: #121212; /* Dunkler Hintergrund */
  color: #FFFFFF; /* Weißer Text */
}

/* Card design */
.card {
  border: 2px solid #363636; /* Dunklere Grenze */
  background: #242424; /* Dunkler Hintergrund */
  background-image: linear-gradient(
    90deg,
    rgba(36, 36, 36, 0.9) 0%,
    rgba(36, 36, 36, 0.4) 74%
  );
}

/* Anpassung der Gradienten-Klassen für dunkles Design */
.grad1, .grad2, .grad3, .grad4, .grad5, .grad6, .grad7, .grad8, .grad9 {
  color: #FFFFFF; /* Weißer Text */
}

.grad1 {
  background-image: linear-gradient(135deg, #555 10%, #333 100%);
}
.grad2 {
  background-image: linear-gradient(135deg, #444 10%, #222 100%);
}
/* ... und so weiter für .grad3 bis .grad9 ... */

/* Marquee Anpassungen */
.marquee, .marquee:nth-child(odd) {
  color: #FFFFFF; /* Weißer Text */
  font-size: 4rem;
  position: relative;
  white-space: nowrap;
  animation: marquee 60s linear infinite;
  will-change: transform;
  font-family: "Fredericka the Great", cursive;
  opacity: 0.2;
}

.marquee:nth-child(odd) {
  animation: marquee2 60s linear infinite;
}

@keyframes marquee {
  0% {
    left: 0;
  }
  50% {
    left: -50%;
  }
  100% {
    left: 0;
  }
}

@keyframes marquee2 {
  0% {
    left: -50%;
  }
  50% {
    left: 0%;
  }
  100% {
    left: -50%;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.fade-appear {
  animation: fadein 0.2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .logo-black {
    @apply saturate-0 filter invert;
  }
}
